
{% extends "baseMachin.html" %}

{% load crispy_forms_tags %}
{% block content %}
{% comment %} 
{% if user.is_authenticated %} 
{% if user.username == "latifa" %}
 {% endcomment %}
<h1 class="display-4">{{typeEquipee.nom}}</h1>
<div class="col-md-10 offset-md-1 mt-5">
<div class="jumbotron" >
<form action="{% url 'attribue_edit' attribue.id %}" method="post"  >
    {% csrf_token %}
    <div class="row">
        <table>
            <tr>
                <td> <label>Nom d'Attribue : </label>&emsp;</td>
                <td><input type="text" value="{{attribue.nom}}" name="name">&emsp; &emsp;</td>
                <span><span>
                </tr>
                <tr>
                <td> <label>Type d'Attribue : </label>&emsp;</td>
                <td><select name="typeAttribue" style="width:200px;">
                    {% for type in typeAttribue %}
                    {% if attribue.typeAttribue == type.nom %}
                    <option  selected >{{type.nom}}</option>
                    {% endif %}
                     <option >{{type.nom}}</option>
                    {% endfor %}  
                </select></td>
            </tr>
        </table>
       
    </div>
    </div>
    
    <div class="row">
        
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Modifier</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'home' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Save
            </a> 
        </div>
    </div><br><br>
    

</form>

{% comment %} {% endif %}
{% endif %} {% endcomment %}

{% endblock content %} 
